<section class="admin-products-index">

  <header class="page-header">
    <h1>About Us</h1>
    <section> 
      <p>We are a small online store looking to help those looking for novel items and furniture to fit the end user's lifestyle.</p>
    </section>
  </header>
